#contenedor{
    display: flex;
    flex-direction: row; 
    background-color:white;
    margin: 10px;
    border: 3px;
    border-style: solid;
    border-color: black;
   justify-content: space-between;
  
}
p{  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
  
}
#caja_1{
 
   
    margin: 0;
    width: 200px;
    height: 200px;
    background-color: red;
}
#caja_2{

    margin: 0;
    width: 200px;
    height: 200px;
    background-color: blue;
}
#caja_3{

    margin: 0;
    width: 200px;
    height: 200px;
    background-color: green;
}
